<%= stylesheet_link_tag  "plugins/fullcalendar/fullcalendar.css",  "plugins/iCheck/custom.css" %>
<%= javascript_include_tag   'jquery-ui.custom.min.js', "plugins/iCheck/icheck.min.js","plugins/fullcalendar/fullcalendar.min.js", 'data-turbolinks-track' => true %>

<script>
    $(document).ready(function() {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        /* initialize the external events
         -----------------------------------------------------------------*/


        $('#external-events div.external-event').each(function() {

            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 1111999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });


        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function() {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            events: '/events.json'

        });


    });

</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Kalender</h2>

    </div>
</div>

<div class="wrapper wrapper-content">

        <div class="col-lg-9">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

</div>


