<div id="wrapper">
  <div class="col-lg-10">
    <h2 class= "pull-left"> Projekt Erstellen</h2>
  </div>

  <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" >
        <div class="ibox ">
          <div class="ibox-title">
                  Schritt für Schritt ein neues Projekt erstellen
          </div>
          <p><div class="form-group"><label class="col-sm-2 control-label">Projektname</label>

          <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>

          <div class="form-group " id="startdate">
            <label class="col-sm-2 control-label">Start:</label>
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control " value="03/04/2014">
            </div>
          </div>

          <div class="form-group" id="deadline">
            <label class="col-sm-2 control-label">Deadline:</label>
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control " value="03/04/2014">
            </div>
          </div>
          <div class="form-group"><label class="col-sm-2 control-label">Beschreibung</label>

            <div class="col-sm-10"><input type="text" class="form-control"></div>
          </div>
</div>

    </div>
  </div>
</div>
<button class="btn btn-outline btn-primary dim pull-right" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-check">Projekt erstellen</i></button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Projekt erstellen?
        </h4>
      </div>
      <div class="modal-body">
        Möchtest du ein Projekt erstellen?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">Abbrechen
        </button>
        <a href ="add_user">
          <button type="button" class="btn btn-primary" >
            Projekt erstellen
          </button>
        </a
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

<script>
    $(document).ready(function(){
        <!-- Enable portlets -->
        WinMove();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>

