
<div class="col-xs-3 col-sm-3 col-md-3">
    <div class="ibox float-e-margins" >
        <div class="ibox-title" align="center">
            <h5>Aufgaben</h5>
        </div>
        <div class="ibox-content" >
        <% @packets1.each do |packet| %>
                <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;
'><%=packet.packet_name %></button>
                <br>
                <br>
        <%end%>

            <br>
        </div>
    </div>
</div>

<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>In Bearbeitung</h5>
        </div>
        <div class="ibox-content">
            <% @packets2.each do |packet| %>
            <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;
'><%=packet.packet_name %></button>
            <br>
            <br>
            <%end%>

            <br>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>Fertig</h5>
        </div>
        <div class="ibox-content">
            <% @packets3.each do |packet| %>
            <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;
'><%=packet.packet_name %></button>
            <br>
            <br>
            <%end%>

            <br>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title" align="center">
            <h5>Fertig</h5>
        </div>
        <div class="ibox-content">
            <% @packets4.each do |packet| %>
            <button type="button" class="btn btn-outline btn-default col-lg-12" style='white-space: normal;word-wrap:break-word;
'><%=packet.packet_name %></button>
            <br>
            <br>
            <%end%>

            <br>
        </div>
    </div>
</div>
