<!DOCTYPE html>
<html>
<head>
  <title>Majom</title>
  <%= stylesheet_link_tag    'application', 'bootstrap.min.css', '/font-awesome/css/font-awesome.css', 'animate.css', 'style.css', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
