

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Majom| Login</title>
	 <%= stylesheet_link_tag   'application.css', 'bootstrap.min.css', 'animate.css', 'style.css', 'data-turbolinks-track'=> true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track', 'jquery-2.1.1', 'bootstrap.min.js'  => true %>
	  <%= csrf_meta_tags %>

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
<%= yield %>

</body>
</html>
